<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tratamiento</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="/" id="logo"><img src="/images/logo.png" alt="Logo"></a>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/cultivos">Cultivos</a>
				</li>
				<li>
					<a href="/productos">Productos</a>
				</li>
				<li  class="current">
					<a href="/tratamientos">Tratamientos</a>
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<form method="post" action="/tratamientoeditado">
				 <div class="form-group">
                    <label>Nuevo Producto</label>
                    <select name="producto">
                        <option th:each="producto : ${productos}"><span th:text="${producto.nombre}"></span></option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Nuevo Cultivo</label>
                    <select name="cultivo">
                        <option th:each="cultivo : ${cultivos}"><span th:text="${cultivo.especie}"></span></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Nuevo Numero de lote</label>
                    <input
                            type="text"
                            name="numeroLote"
                            class="form-control"
                            placeholder="especie"
                            required/>
                </div>
                <div class="form-group">
                    <label>Nueva Fecha Realizacion</label>
                    <input
                            name="fechaRealizacion"
                            type="datetime-local"
                            class="form-control"
                            required/>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <button
                                id="register"
                                type="submit"
                                class="btn btn-primary">Publicar
                        </button>
                    </div>
                </div>
                <input type="hidden" name="id" th:attr="value = ${id}">
				</form>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Correos</h1>
					<b>a.cuadrado.2018@alumnos.urjc.es</b>
					<b>r.marques.2018@alumnos.urjc.es</b>
					<b>cn.terci.2018@alumnos.urjc.es</b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>