<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Practica SSDD</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="page">
		<div id="header">
			<ul>
				<li class="current">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/cultivos">Cultivos</a>
				</li>
				<li>
					<a href="/productos">Productos</a>
				</li>
				<li>
					<a href="/tratamientos">Tratamientos</a>
				</li>
			</ul>
		</div>
		<div id="body">
			<div class="footer">
				<img src="images/urjc.jpg" alt="Image">
				<div>
					<h1>Miembros</h1>
					<ol>
						<li>
							<p>
								Antonio Cuadrado Álvarez
							</p>
						</li>
						<li>
							<p>
								Rodrigo Marqués Buil
							</p>
						</li>
						<li>
							<p>
								Cristian Nicu Terci
							</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Correos</h1>
					<b>a.cuadrado.2018@alumnos.urjc.es</b>
					<b>r.marques.2018@alumnos.urjc.es</b>
					<b>cn.terci.2018@alumnos.urjc.es</b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>