<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tratamiento</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="/" id="logo"><img src="/images/logo.png" alt="Logo"></a>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/cultivos">Cultivos</a>
				</li>
				<li>
					<a href="/productos">Productos</a>
				</li>
				<li class="current">
					<a href="/tratamientos">Tratamientos</a>
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<h1>Tratamiento</h1>
				<br/>
				<br/>
				<ul class="section">
					<li>
						<div>
							<h2 th:text="'Numero de lote: ' + ${tratamiento.numeroLote}"></h2>
							<br/>
							<a th:href="@{'/cultivos/'+ ${cultivo.id}}"><h2 th:text="${cultivo.especie}"></h2></a>
							<br/>
							<a th:href="@{'/productos/'+ ${producto.id}}"><h2 th:text="${producto.nombre}"></h2></a>
							<br/>
							<p th:text="'Fecha de realizacion: ' + ${tratamiento.fechaRealizacion}"></p>
							<br/>
							<p th:text="'Fecha plazo reentrada: ' + ${tratamiento.fechaPlazoReentrada}"></p>
							<br/>
							<p th:text="'Fecha plazo recoleccion: ' + ${tratamiento.fechaPlazoRecoleccion}"></p>
							<br/>
							<a th:href="@{'/editartratamiento/'+ ${tratamiento.id}}">Editar Tratamiento</a>
							<a href="/">Volver</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Correos</h1>
					<b>a.cuadrado.2018@alumnos.urjc.es</b>
					<b>r.marques.2018@alumnos.urjc.es</b>
					<b>cn.terci.2018@alumnos.urjc.es</b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>