<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Producto</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="page">
		<div id="header">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/cultivos">Cultivos</a>
				</li>
				<li class="current">
					<a href="/productos">Productos</a>
				</li>
				<li>
					<a href="/tratamientos">Tratamientos</a>
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<h1>Producto</h1>
				<br/>
				<br/>
				<ul class="section">
					<li>
						<div>
							<h2 th:text="'Nombre: ' + ${producto.nombre}"></h2>
							<br/>
							<p th:text="'Descripcion: ' + ${producto.descripcion}"></p>
							<br/>
							<p th:text="'Plazo reentrada: ' + ${producto.plazoReentrada}"></p>
							<br/>
							<p th:text="'Plazo recoleccion: ' + ${producto.plazoRecoleccion}"></p>
							<br/>
							<a th:href="@{'/editarproducto/'+ ${producto.id}}">Editar Producto</a>
							<a href="/productos">Volver</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Correos</h1>
					<b>a.cuadrado.2018@alumnos.urjc.es</b>
					<b>r.marques.2018@alumnos.urjc.es</b>
					<b>cn.terci.2018@alumnos.urjc.es</b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>