<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="index.html" id="logo"><img src="images/logo.png" alt="Logo"></a>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/cultivos">Cultivos</a>
				</li>
				<li class="current">
					<a href="/productos">Productos</a>
				</li>
				<li>
					<a href="/tratamientos">Tratamientos</a>
				
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<h1>Productos</h1>
				<h3><strong>Todos los productos de nuestras plantaciones</strong></h3>
				<p>
					En esta página encontrarás todos los productos con los que nuestros agricultores trabajan.
				</p>
				<br>
				<ul class="section">
					<li th:each="producto : ${productos}">
						<div>
							<a th:href="@{'/productos/'+ ${producto.id}}"><h2 th:text="${producto.nombre}"></h2></a>
							<br/>
							<p th:text="'Descripcion: ' + ${producto.descripcion}"></p>
							<br/>
							<p th:text="'Plazo Reentrada: ' + ${producto.plazoReentrada}"></p>
							<br/>
							<p th:text="'Plazo Recoleccion: ' + ${producto.plazoRecoleccion}"></p>
							<br/>
						</div>
					</li>
				</ul>
				<a href="/añadirproducto">Añadir Producto</a>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Correos</h1>
					<b>a.cuadrado.2018@alumnos.urjc.es</b>
					<b>r.marques.2018@alumnos.urjc.es</b>
					<b>cn.terci.2018@alumnos.urjc.es</b>
				</div>
			</div>
		</div>
	</div>
</body>
</html>