<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Article - Garden Walkthrough Website Template</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="index.html" id="logo"><img src="images/logo.png" alt="Logo"></a>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/cultivos">Cultivos</a>
				</li>
				<li class="current">
					<a href="/productos">Productos</a>
				</li>
				<li>
					<a href="/tratamientos">Tratamientos</a>
				
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<h1>Productos</h1>
				<h3><strong>Todos los productos de nuestras plantaciones</strong></h3>
				<p>
					En esta página encontrarás todos los productos con los que nuestros agricultores trabajan. Actualmente contamos con tres fantásticos tipos de productos.
					</p>
				<ul class="section">
					<li th:each="producto : ${productos}">
						<img src="images/plants1.jpg" alt="Image">
						<div>
							<h2 th:text="${producto.nombre}"></h2>
							<br/>
							<p th:text="'Descripcion: ' + ${producto.descripcion}"></p>
							<br/>
							<p th:text="'Plazo Reentrada: ' + ${producto.plazoReentrada}"></p>
							<br/>
							<p th:text="'Plazo Recoleccion: ' + ${producto.plazoRecoleccion}"></p>
							<br/>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Connect</h1>
					<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" id="mail">Escríbenos</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
					<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
				</div>
			</div>
			<p>
				Garden Walkthrough &copy; 2021 | All Rights Reserved
			</p>
		</div>
	</div>
</body>
</html>